@media only screen and (max-width: 1024px) {
  /*Home D*/
  .sizzling {
    height: 140px !important;
  }
  .home_needs1 p {
    font-size: 20px !important;
  }
  .home_needs1 h1 {
    font-size: 28px !important;
  }
  .textAlignment p {
    font-size: 20px !important;
  }
  .textAlignment h1 {
    font-size: 28px !important;
  }
  .saprater h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px !important;
    color: #121212;
    font-family: "Poppins", sans-serif;
    line-height: 122%;
    color: rgba(18, 18, 18, 0.8);
  }

  .saprater p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 146%;
    color: rgba(18, 18, 18, 0.8);
  }
  .home_mountain h4 {
    font-size: 20px !important;
  }
  .home_mountain p {
    font-size: 18px !important;
  }
  #image1 {
    height: 348px !important;
  }
}
@media only screen and (max-width: 912px) {
}

@media only screen and (max-width: 820px) {
  #image1 {
    height: 350px !important;
  }
  .home_mountain {
    margin-top: 93px !important;
  }
  .sizzling {
    height: 160px !important;
  }
  /* .demo{
    margin-top: 137px !important;
  } */
}

@media only screen and (max-width: 767px) {
  .saprater h4 {
    font-size: 18px !important;
    color: #121212 !important;
  }
  .saprater p {
    font-size: 16px !important;
  }
  .happeningNow_container {
    margin: 0px 25px !important;
  }
  #happeningNow_container {
    margin: 0px 25px !important;
  }
  .demo {
    margin-top: 0px !important;
  }
  .home_mountain {
    margin-top: 18px !important;
  }
  .home_mountain p {
    font-size: 16px !important;
    margin-bottom: 0px !important;
  }
  .home_mountain h4 {
    font-size: 18px !important;
    margin-bottom: 0px !important;
  }
  .sizzling1 {
    padding-top: 0px !important;
  }
  .saprater {
    padding: 18px 0px 0px 0px !important;
    margin-bottom: 3px !important;
  }
  .sizzling {
    height: 70px !important;
  }

  #worksImageSection {
    text-align: center !important;
  }
  .abc {
    text-align: center !important;
  }
  .home_PlanTrip .home_bestTrip h1 {
    font-size: 35px !important;
    padding: 0% 8% !important;
  }
  /* Home C*/
  .home_dream .home_div_1 {
    font-size: 40px !important;
  }

  .home_dream .home_div_2 {
    font-size: 40px !important;
  }

  .home_dream p {
    font-size: 15px !important;
  }
  .home_popup_title h2 {
    font-size: 20px !important;
  }
  .home_popup_para div span {
    font-size: 10px !important;
  }
  .home_popup_para {
    padding: 0px 25px 0px 25px;
  }
  /*Home D*/
  .home_happening h1 {
    font-size: 32px !important;
  }
  .home_mountain {
    margin-top: 10px !important;
    text-align: start;
  }

  #worksImageAlignment {
    text-align: center !important;
  }
  .home_needs1 {
    padding: 0% !important;
    margin-bottom: 15px !important;
  }
  .textAlignment {
    padding: 0% !important;
    margin-left: 0px !important;
  }
  .card2 {
    background-image: url("https://ik.imagekit.io/ahsrg6khu/New_Folder/home/Rectangle_4557_4fP7DRZxbo.png?ik-sdk-version=javascript-1.4.3&updatedAt=1666082884477");
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    height: 300px !important;
    /* border-radius: 10px 0px 0px 10px; */
  }

  #image1 {
    border-radius: 10px 10px 0px 0px !important;
  }

  /*--------*/

  .demo {
    border-bottom: 2px solid #00754a;
    width: 97%;
    margin-top: 0px !important;
    padding-left: 7px;
  }

  #image1 {
    background-image: url("https://ik.imagekit.io/ahsrg6khu/New_Folder/home/Rectangle_4554_1f8IjowOan.png?ik-sdk-version=javascript-1.4.3&updatedAt=1666082887094");
    background-size: cover;
    background-position: center;
    height: 250px !important;
    border-radius: 10px 0px 0px 10px;
  }

  .card2 {
    background-image: url("https://ik.imagekit.io/ahsrg6khu/New_Folder/home/Rectangle_4557_4fP7DRZxbo.png?ik-sdk-version=javascript-1.4.3&updatedAt=1666082884477");
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    height: 250px !important;
    /* border-radius: 10px 0px 0px 10px; */
  }

  /* Home E*/

  .home_needs1 h1 {
    text-align: center;
    font-size: 24px !important;
    padding-bottom: 5px;
  }
  .textAlignment h1 {
    text-align: center;
    font-size: 24px !important;
    margin-top: 50px !important;
    padding-bottom: 5px;
  }

  .home_needs2 h1 {
    text-align: center;
    font-size: 30px !important;
  }

  .home_needs1 p {
    text-align: center;
    font-size: 20px !important;
    margin-bottom: 56px !important;
  }
  .textAlignment P {
    text-align: center;
    font-size: 20px !important;
    margin-bottom: 50px !important;
  }
  #laptop_div {
    margin-bottom: 0.5rem !important;
  }

  .home_needs2 p {
    text-align: center;
    font-size: 20px !important;
  }

  .home_needs2 {
    padding: 0% !important;
  }

  .home_works h1 {
    font-size: 40px !important;
  }
}
@media only screen and (max-width: 540px) {
  .home_mountain {
    margin-top: 20px !important;
  }
  /* .demo{
    margin-top: 35px !important;
  } */
  .home_needs1 {
    padding: 0% !important;
  }
  #worksImageAlignment {
    text-align: center !important;
  }
}
@media only screen and (max-width: 500px) {
  .sizzling {
    height: 80px !important;
  }
  .demo {
    margin-top: 0px !important;
  }
  .happeningNow_container {
    margin: 0px 5px !important;
  }
  #happeningNow_container {
    margin: 0px 5px !important;
  }
}
.home_PlanTrip {
  height: 95vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home_PlanTrip .home_bestTrip {
  top: 50%;
  transform: translate(-0%, -50%);
  position: relative;
  text-align: center;
}
.home_PlanTrip .home_bestTrip h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 0% 15%;
}
#home_planYourTrip {
  background: #00754a;
  border-radius: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 180%;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  box-shadow: none;
}
.home_planButton {
  text-align: center;
  top: -25px;
  position: relative;
}
/*home b css*/
.home_card {
  text-align: center;
  border: none;
}

.home_card h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 142%;
  letter-spacing: 0.02em;
  color: rgba(18, 18, 18, 0.9);
  font-family: "Poppins", sans-serif;
}

.home_card p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 142%;
  letter-spacing: 0.02em;
  color: rgba(18, 18, 18, 0.8);
  font-family: "Poppins", sans-serif;
}

#home_cardSection {
  padding: 60px 0px 60px 0px;
}

.fully_para {
  padding: 0px 10px 0px 10px;
}

/*home C*/
.demo {
  z-index: 0 !important;
}
.group3 {
  background: url("https://ik.imagekit.io/ahsrg6khu/New_Folder/home/Rectangle_4566_TWQKW3uxCF.png?ik-sdk-version=javascript-1.4.3&updatedAt=1666082882188");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
}
.group4 {
  background: url("https://ik.imagekit.io/ahsrg6khu/New_Folder/home/Rectangle_4567_P1ygFlWuFL.png?ik-sdk-version=javascript-1.4.3&updatedAt=1666082884505");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
}
.home_dream {
  text-align: center;
}

.home_dream .home_div_1 {
  color: #121212;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
}

.home_dream .home_div_2 {
  color: #00754a;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
}

.home_dream p {
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: rgba(18, 18, 18, 0.8);
}

.home_carousal_card {
  border: none;
  text-align: center;
  cursor: pointer;
  margin: 0px 10px;
}

.slider_pdf {
  position: relative;
  filter: contrast(50%);
  border-radius: 10px;
}

.slider_pdf:hover {
  filter: contrast(18%);
}

.home_carousal_card .pdf_para {
  position: absolute;
  top: 50%;
  color: #ffffff;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 158.5%;
  font-family: "Poppins", sans-serif;
}
.textAlignment {
  margin-left: 20px;
  text-align: left;
  font-size: 24px !important;
  padding-bottom: 5px;
}
.home_carousal_title {
  top: 90%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -200%);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 151%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.styles.arrow {
  color: red !important;
}

.modal {
  font-size: 12px;
}

.modal > .header {
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal > .content {
  width: 100%;
  padding: 10px 5px;
}

.content div {
  padding-right: 0px !important;
}

.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: 0px;
  top: 0px;
  font-size: 24px;
  background: #ffffff;
  border: none;
}

.home_popup_para {
  padding: 0px 50px 0px 50px;
}

.home_popup_para div span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 182%;
  color: rgba(18, 18, 18, 0.75);
  font-family: "Poppins", sans-serif;
  padding-left: 10px;
}

.home_popup_title h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 130%;
  color: rgba(18, 18, 18, 0.8);
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-top: 20px;
}

#home_popup_planYourTrip {
  background: #00754a;
  border-radius: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 180%;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  box-shadow: none;
}

.Popup_bottom_button {
  text-align: center;
  padding-top: 25px;
}

.dfmqawfkijew {
  width: 10% !important;
}

/*home D*/
.home_happening h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  text-align: center;
  color: #121212;
  font-family: "Poppins", sans-serif;
}

#happenNow_images_div {
  border: 2px solid red;
}

.home_happening {
  padding: 90px 0px 60px 0px;
}

.saprater p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17.6px;
  line-height: 146%;
  color: rgba(18, 18, 18, 0.8);
}

.saprater h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  color: #121212;
  font-family: "Poppins", sans-serif;
  line-height: 122%;
  color: rgba(18, 18, 18, 0.8);
}

.saprater {
  border-bottom: 2px solid #00754a;
  width: 98%;
  text-align: start;
  padding: 18px 0px;
}

.home_mountain {
  margin-top: 113px;
  text-align: start;
}

.demo {
  border-bottom: 2px solid #00754a;
  width: 97%;
  /* margin-top: 115px; */
  padding-left: 7px;
}

.home_mountain h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #121212;
  line-height: 126%;
  font-family: "Poppins", sans-serif;
}

#image1 {
  background-size: cover;
  background-position: center;
  height: 370px;
  border-radius: 10px 0px 0px 10px;
}

.card2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
  border-radius: 10px 10px 0px 0px;
}

/* .image2 {
    padding: 7px 7px 0px 7px;
} */

.sizzling {
  padding-top: 10px;
  height: 153px;
}
.sizzling1 {
  padding-top: 10px;
}

.home_mountain p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: rgba(18, 18, 18, 0.8);
  font-family: "Poppins", sans-serif;
}

.home_explore {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  font-family: "Poppins", sans-serif;
  color: #00754a;
  text-decoration: none;
}

.home_explore:hover {
  color: #00754a;
}
.home_right_button {
  height: 8.5px;
  width: 15.5px;
}

.happeningNow_container {
  border-radius: 10px;
  padding: 0;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.35);
}

#happeningNow_container {
  border-radius: 10px;
  padding: 0;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.35);
}

/*home E*/

.home_needs1 {
  padding: 25% 0% 25% 0%;
}
.textAlignment {
  padding: 25% 0% 25% 0%;
}

.home_needs2 {
  padding: 15% 0% 25% 0%;
}

.home_needs1 h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: rgba(18, 18, 18, 0.8);
  font-family: "Poppins", sans-serif;
}
.textAlignment h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: rgba(18, 18, 18, 0.8);
  font-family: "Poppins", sans-serif;
}

.home_needs1 p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 164.5%;
  color: rgba(18, 18, 18, 0.8);
  font-family: "Poppins", sans-serif;
}
.textAlignment p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 164.5%;
  color: rgba(18, 18, 18, 0.8);
  font-family: "Poppins", sans-serif;
}

.home_needs2 h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: rgba(18, 18, 18, 0.8);
  font-family: "Poppins", sans-serif;
}

.home_needs2 p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 164.5%;
  color: rgba(18, 18, 18, 0.8);
  font-family: "Poppins", sans-serif;
}

.home_works h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  text-align: center;
  color: #121212;
  margin-top: 7%;
  padding-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

#laptop_div {
  margin-bottom: -100px;
}
